In [1]:
# Configuration 
import configparser

# Create ConfigParser object
config = configparser.ConfigParser()
config.read("config.ini", encoding="utf-8")  # Ensure UTF-8 encoding

pkl_filename_pest = config.get("1_PEST", "pkl_filename")
pkl_filename_weather = config.get("2_WEATHER", "pkl_filename")
weather_window_days = config.getint("3_BOTH", "weather_window_days")
pest_columns = config.get("3_BOTH", "pest_columns").replace("\n", "").split(", ")
drop_columns = config.get("3_BOTH", "drop_columns").replace("\n", "").split(", ")
weather_columns = config.get("3_BOTH", "weather_columns").replace("\n", "").split(", ")
sort_by = config.get("3_BOTH", "sort_by").replace("\n", "").split(", ")
rolling_avg_cols = config.get("3_BOTH", "rolling_avg_cols").replace("\n", "").split(", ")
rolling_sum_cols = config.get("3_BOTH", "rolling_sum_cols").replace("\n", "").split(", ")
group_by_columns_rolling = config.get("3_BOTH", "group_by_columns_rolling").replace("\n", "").split(", ")
join_type = config.get("3_BOTH", "join_type")
join_on_pest = config.get("3_BOTH", "join_on_pest").replace("\n", "").split(", ")
join_on_weather = config.get("3_BOTH", "join_on_weather").replace("\n", "").split(", ")

pkl_filename = config.get("3_BOTH", "pkl_filename")
csv_filename = config.get("3_BOTH", "csv_filename")

In [2]:
import pandas as pd
import time

# unpickle - pandas dataframe
df_pest = pd.read_pickle(pkl_filename_pest)
df_weather = pd.read_pickle(pkl_filename_weather)

print(df_pest.shape)
print(df_weather.shape)

(5078, 20)
(328800, 26)

In [3]:
# Global Variable Declaration:
weather_window_days = weather_window_days

In [4]:
df_pest

,delomrade,lan,latitud,longitud,groda,sort,jordart,sadatum,skordear,graderingsdatum,graderingstyp,forforfrukt,forfrukt,ekologisk,plojt,utvecklingsstadium,Bladfläcksvampar,Gulrost,Svartpricksjuka,Sädesbladlus
0,Gotland,Gotlands län,2441000,000,Höstvete,Julius,Lättlera (15-25 % ler),2016-09-18,2017,2017-05-01,Veckovis,Vårkorn,Vårkorn,False,True,26,0.0,0.0,0.0,0.00
1,Gotland,Gotlands län,2441000,000,Höstvete,Julius,Lättlera (15-25 % ler),2016-09-18,2017,2017-05-08,Veckovis,Vårkorn,Vårkorn,False,True,30,0.0,0.0,0.0,0.00
2,Gotland,Gotlands län,2441000,000,Höstvete,Julius,Lättlera (15-25 % ler),2016-09-18,2017,2017-05-15,Veckovis,Vårkorn,Vårkorn,False,True,32,0.0,0.0,0.0,0.00
3,Gotland,Gotlands län,2441000,000,Höstvete,Julius,Lättlera (15-25 % ler),2016-09-18,2017,2017-05-22,Veckovis,Vårkorn,Vårkorn,False,True,33,0.0,0.0,0.0,0.00
4,Gotland,Gotlands län,2441000,000,Höstvete,Julius,Lättlera (15-25 % ler),2016-09-18,2017,2017-05-29,Veckovis,Vårkorn,Vårkorn,False,True,37,0.0,0.0,0.0,0.00
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5073,NÖ Skåne,Skåne län,6202000,444000,Höstvete,Hereford,None,None,2018,2018-06-04,Veckovis,None,None,False,None,61,2.0,0.0,2.0,0.12
5074,NÖ Skåne,Skåne län,6202000,444000,Höstvete,Hereford,None,None,2018,2018-06-11,Veckovis,None,None,False,None,69,6.0,2.0,6.0,0.00
5075,NÖ Skåne,Skåne län,6202000,444000,Höstvete,Hereford,None,None,2018,2018-06-18,Veckovis,None,None,False,None,73,8.0,2.0,8.0,0.00
5076,NÖ Skåne,Skåne län,6202000,444000,Höstvete,Hereford,None,None,2018,2018-06-25,Veckovis,None,None,False,None,75,8.0,0.0,8.0,0.00
5077,NÖ Skåne,Skåne län,6202000,444000,Höstvete,Hereford,None,None,2018,2018-07-03,Veckovis,None,None,False,None,77,8.0,0.0,8.0,0.00

In [5]:
df_weather

,DAY,HOUR,TM,TX,TN,RR,RRA,UM,UN,UX,...,G3,G5,G7,G8,G10,WSTNID,WGS84N,WGS84E,latitud,longitud
0,2016-01-01,0,-2.8,1.0,-5.0,0.6,0.6,81.5,79.0,85.0,...,0,0,0,0,0,110070,69.042,20.262,6218000,479000
1,2016-01-02,0,-4.4,-2.2,-6.5,0.0,0.6,87.6,79.0,93.0,...,0,0,0,0,0,110070,69.042,20.262,6218000,479000
2,2016-01-03,0,-9.9,-3.4,-12.1,0.9,1.5,91.3,86.0,95.0,...,0,0,0,0,0,110070,69.042,20.262,6218000,479000
3,2016-01-04,0,-18.1,-9.8,-21.6,0.0,1.5,79.4,71.0,85.0,...,0,0,0,0,0,110070,69.042,20.262,6218000,479000
4,2016-01-05,0,-20.8,-17.9,-24.0,0.0,1.5,70.3,56.0,78.0,...,0,0,0,0,0,110070,69.042,20.262,6218000,479000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
328795,2024-12-27,0,-4.1,-3.5,-5.4,18.6,754.6,87.3,84.0,94.0,...,1031,776,554,458,294,110070,69.042,20.262,6593000,655000
328796,2024-12-28,0,-2.7,-1.4,-4.9,3.7,758.3,86.8,82.0,93.0,...,1031,776,554,458,294,110070,69.042,20.262,6593000,655000
328797,2024-12-29,0,-5.0,-2.8,-7.3,6.3,764.6,84.2,79.0,91.0,...,1031,776,554,458,294,110070,69.042,20.262,6593000,655000
328798,2024-12-30,0,-6.0,-4.1,-7.4,4.9,769.5,87.4,78.0,95.0,...,1031,776,554,458,294,110070,69.042,20.262,6593000,655000
328799,2024-12-31,0,-8.2,-6.7,-11.3,0.9,770.4,83.0,73.0,88.0,...,1031,776,554,458,294,110070,69.042,20.262,6593000,655000

In [6]:
df_weather['DAY'].unique()

array(['2016-01-01', '2016-01-02', '2016-01-03', ..., '2024-12-29',
       '2024-12-30', '2024-12-31'], dtype=object)

In [7]:
df_pest.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5078 entries, 0 to 5077
Data columns (total 20 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   delomrade           5078 non-null   object
 1   lan                 5078 non-null   object
 2   latitud             5078 non-null   object
 3   longitud            5078 non-null   object
 4   groda               5078 non-null   object
 5   sort                5078 non-null   object
 6   jordart             1600 non-null   object
 7   sadatum             2825 non-null   object
 8   skordear            5078 non-null   int64
 9   graderingsdatum     5078 non-null   object
 10  graderingstyp       5078 non-null   object
 11  forforfrukt         1495 non-null   object
 12  forfrukt            3479 non-null   object
 13  ekologisk           5078 non-null   bool
 14  plojt               1600 non-null   object
 15  utvecklingsstadium  5078 non-null   int64
 16  Bladfläcksvampar    5041 non-null   float64
 17  Gulrost             5076 non-null   float64
 18  Svartpricksjuka     5050 non-null   float64
 19  Sädesbladlus        3744 non-null   float64
dtypes: bool(1), float64(4), int64(2), object(13)
memory usage: 758.9+ KB

In [8]:
df_weather.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 328800 entries, 0 to 328799
Data columns (total 26 columns):
 #   Column    Non-Null Count   Dtype
---  ------    --------------   -----
 0   DAY       328800 non-null  object
 1   HOUR      328800 non-null  int64
 2   TM        328800 non-null  float64
 3   TX        328800 non-null  float64
 4   TN        328800 non-null  float64
 5   RR        328800 non-null  float64
 6   RRA       328800 non-null  float64
 7   UM        328800 non-null  float64
 8   UN        328800 non-null  float64
 9   UX        328800 non-null  float64
 10  CLDM      328800 non-null  int64
 11  FM2       328800 non-null  float64
 12  WDCM      328800 non-null  int64
 13  Q0        328800 non-null  float64
 14  BT        328800 non-null  float64
 15  G0        328800 non-null  int64
 16  G3        328800 non-null  int64
 17  G5        328800 non-null  int64
 18  G7        328800 non-null  int64
 19  G8        328800 non-null  int64
 20  G10       328800 non-null  int64
 21  WSTNID    328800 non-null  int64
 22  WGS84N    328800 non-null  float64
 23  WGS84E    328800 non-null  float64
 24  latitud   328800 non-null  object
 25  longitud  328800 non-null  object
dtypes: float64(13), int64(10), object(3)
memory usage: 65.2+ MB

In [9]:
# Convert 'graderingsdatum' in df_pest to datetime
df_pest['graderingsdatum'] = pd.to_datetime(df_pest['graderingsdatum'], errors='coerce')

# Convert 'DAY' in df_weather to datetime
df_weather['DAY'] = pd.to_datetime(df_weather['DAY'], errors='coerce')

# Check if the conversion was successful
print(df_pest['graderingsdatum'].head())
print(df_weather['DAY'].head())

0   2017-05-01
1   2017-05-08
2   2017-05-15
3   2017-05-22
4   2017-05-29
Name: graderingsdatum, dtype: datetime64[ns]
0   2016-01-01
1   2016-01-02
2   2016-01-03
3   2016-01-04
4   2016-01-05
Name: DAY, dtype: datetime64[ns]

In [10]:
# Select specific columns
pest_columns = pest_columns

#weather_columns = ['DAY', 'WGS84N', 'WGS84E', 'latitud', 'longitud', 'TM', 'RR']
weather_columns = weather_columns

df_pest = df_pest[pest_columns]
df_weather = df_weather[weather_columns]

In [11]:
# Weather Data Calculation by Rolling Data:

# Sort data by location and date for rolling calculation
df_weather = df_weather.sort_values(by=sort_by)

# Define columns for rolling average and sum
rolling_avg_cols = rolling_avg_cols
rolling_sum_cols = rolling_sum_cols

# Compute rolling averages
for col in rolling_avg_cols:
    df_weather[f"{col}_7d_avg"] = (
        df_weather.groupby(group_by_columns_rolling)[col]
        .transform(lambda x: x.rolling(window=weather_window_days, min_periods=1).mean())
        .round(2)
    )

# Compute rolling sums
for col in rolling_sum_cols:
    df_weather[f"{col}_7d_sum"] = (
        df_weather.groupby(group_by_columns_rolling)[col]
        .transform(lambda x: x.rolling(window=weather_window_days, min_periods=1).sum())
        .round(2)
    )

# Check updated dataframe
print(df_weather.head())

df_weather.shape

              DAY  WGS84N  WGS84E  latitud longitud    TM    TX    TN    UM  \
233448 2016-01-01  69.042  20.262  6136000   388000  -2.8   1.0  -5.0  81.5
233449 2016-01-02  69.042  20.262  6136000   388000  -4.4  -2.2  -6.5  87.6
233450 2016-01-03  69.042  20.262  6136000   388000  -9.9  -3.4 -12.1  91.3
233451 2016-01-04  69.042  20.262  6136000   388000 -18.1  -9.8 -21.6  79.4
233452 2016-01-05  69.042  20.262  6136000   388000 -20.8 -17.9 -24.0  70.3

          UX  ...  CLDM_7d_avg  Q0_7d_avg  RR_7d_sum  BT_7d_sum  G0_7d_sum  \
233448  85.0  ...        99.00        0.0        0.6        0.0        0.0
233449  93.0  ...        85.50        0.0        0.6      100.0        0.0
233450  95.0  ...        87.00        0.0        1.5      200.0        0.0
233451  85.0  ...        86.50        0.0        1.5      200.0        0.0
233452  78.0  ...        79.75        0.0        0.9      200.0        0.0

        G3_7d_sum  G5_7d_sum  G7_7d_sum  G8_7d_sum  G10_7d_sum
233448        0.0        0.0        0.0        0.0         0.0
233449        0.0        0.0        0.0        0.0         0.0
233450        0.0        0.0        0.0        0.0         0.0
233451        0.0        0.0        0.0        0.0         0.0
233452        0.0        0.0        0.0        0.0         0.0

[5 rows x 39 columns]

(328800, 39)

In [12]:
df_weather.drop(drop_columns, axis=1, inplace=True)

In [13]:
df_weather

,DAY,WGS84N,WGS84E,latitud,longitud,TM_7d_avg,TX_7d_avg,TN_7d_avg,UM_7d_avg,UX_7d_avg,...,CLDM_7d_avg,Q0_7d_avg,RR_7d_sum,BT_7d_sum,G0_7d_sum,G3_7d_sum,G5_7d_sum,G7_7d_sum,G8_7d_sum,G10_7d_sum
233448,2016-01-01,69.042,20.262,6136000,388000,-2.80,1.00,-5.00,81.50,85.00,...,99.00,0.0,0.6,0.0,0.0,0.0,0.0,0.0,0.0,0.0
233449,2016-01-02,69.042,20.262,6136000,388000,-3.60,-0.60,-5.75,84.55,89.00,...,85.50,0.0,0.6,100.0,0.0,0.0,0.0,0.0,0.0,0.0
233450,2016-01-03,69.042,20.262,6136000,388000,-5.70,-1.53,-7.87,86.80,91.00,...,87.00,0.0,1.5,200.0,0.0,0.0,0.0,0.0,0.0,0.0
233451,2016-01-04,69.042,20.262,6136000,388000,-8.80,-3.60,-11.30,84.95,89.50,...,86.50,0.0,1.5,200.0,0.0,0.0,0.0,0.0,0.0,0.0
233452,2016-01-05,69.042,20.262,6136000,388000,-13.30,-8.32,-16.05,82.15,87.75,...,79.75,0.0,0.9,200.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
55891,2024-12-27,69.042,20.262,6725000,611000,-5.87,-3.90,-8.60,86.02,92.25,...,86.25,0.0,39.2,100.0,5876.0,4124.0,3104.0,2216.0,1832.0,1176.0
55892,2024-12-28,69.042,20.262,6725000,611000,-3.95,-1.90,-6.85,86.17,92.50,...,86.25,0.0,42.3,100.0,5876.0,4124.0,3104.0,2216.0,1832.0,1176.0
55893,2024-12-29,69.042,20.262,6725000,611000,-3.97,-2.60,-5.95,85.82,92.25,...,84.75,0.0,40.2,100.0,5876.0,4124.0,3104.0,2216.0,1832.0,1176.0
55894,2024-12-30,69.042,20.262,6725000,611000,-4.45,-2.95,-6.25,86.42,93.25,...,85.75,0.0,33.5,200.0,5876.0,4124.0,3104.0,2216.0,1832.0,1176.0
55895,2024-12-31,69.042,20.262,6725000,611000,-5.47,-3.75,-7.72,85.35,91.75,...,78.25,0.0,15.8,100.0,5876.0,4124.0,3104.0,2216.0,1832.0,1176.0

In [14]:
df_weather['DAY'].unique()

<DatetimeArray>
['2016-01-01 00:00:00', '2016-01-02 00:00:00', '2016-01-03 00:00:00',
 '2016-01-04 00:00:00', '2016-01-05 00:00:00', '2016-01-06 00:00:00',
 '2016-01-07 00:00:00', '2016-01-08 00:00:00', '2016-01-09 00:00:00',
 '2016-01-10 00:00:00',
 ...
 '2024-12-22 00:00:00', '2024-12-23 00:00:00', '2024-12-24 00:00:00',
 '2024-12-25 00:00:00', '2024-12-26 00:00:00', '2024-12-27 00:00:00',
 '2024-12-28 00:00:00', '2024-12-29 00:00:00', '2024-12-30 00:00:00',
 '2024-12-31 00:00:00']
Length: 3288, dtype: datetime64[ns]

In [15]:
df_weather.info()

<class 'pandas.core.frame.DataFrame'>
Index: 328800 entries, 233448 to 55895
Data columns (total 22 columns):
 #   Column       Non-Null Count   Dtype
---  ------       --------------   -----
 0   DAY          328800 non-null  datetime64[ns]
 1   WGS84N       328800 non-null  float64
 2   WGS84E       328800 non-null  float64
 3   latitud      328800 non-null  object
 4   longitud     328800 non-null  object
 5   TM_7d_avg    328800 non-null  float64
 6   TX_7d_avg    328800 non-null  float64
 7   TN_7d_avg    328800 non-null  float64
 8   UM_7d_avg    328800 non-null  float64
 9   UX_7d_avg    328800 non-null  float64
 10  UN_7d_avg    328800 non-null  float64
 11  FM2_7d_avg   328800 non-null  float64
 12  CLDM_7d_avg  328800 non-null  float64
 13  Q0_7d_avg    328800 non-null  float64
 14  RR_7d_sum    328800 non-null  float64
 15  BT_7d_sum    328800 non-null  float64
 16  G0_7d_sum    328800 non-null  float64
 17  G3_7d_sum    328800 non-null  float64
 18  G5_7d_sum    328800 non-null  float64
 19  G7_7d_sum    328800 non-null  float64
 20  G8_7d_sum    328800 non-null  float64
 21  G10_7d_sum   328800 non-null  float64
dtypes: datetime64[ns](1), float64(19), object(2)
memory usage: 57.7+ MB

In [16]:
# Join Pest & Weather Data:

# Perform inner join
df_both = df_pest.merge(
    df_weather,
    left_on=join_on_pest,
    right_on=join_on_weather,
    how=join_type
)

# Display the resulting DataFrame
print(df_both.shape)

(2828, 35)

In [17]:
"""
Note: Include other columns.

# Weather Data Calculation by Direct Fetch:

t0 = time.time()

# Function to compute rolling stats for only the past 7 days
def compute_7day_stats(pest_row, weather_df):
    # For each row in df_pest, find the last 7 days in df_weather
    # For same latitud & longitud, compute average & sum
    lat, lon, date = pest_row['latitud'], pest_row['longitud'], pest_row['graderingsdatum']
    
    # Filter weather data for the past 7 days only (excluding future dates)
    past_7_days = weather_df[
        (weather_df['latitud'] == lat) & 
        (weather_df['longitud'] == lon) & 
        (weather_df['DAY'] <= date) &  # Ensure we only take past days
        (weather_df['DAY'] > date - pd.Timedelta(days=4))  # Last 7 days window
    ]
    
    # Compute the required stats
    tm_7d_avg = past_7_days['TM'].mean() if not past_7_days.empty else None
    tx_7d_avg = past_7_days['TX'].mean() if not past_7_days.empty else None
    tn_7d_avg = past_7_days['TN'].mean() if not past_7_days.empty else None
    um_7d_avg = past_7_days['UM'].mean() if not past_7_days.empty else None
    ux_7d_avg = past_7_days['UX'].mean() if not past_7_days.empty else None
    rr_7d_sum = past_7_days['RR'].sum() if not past_7_days.empty else None
    bt_7d_sum = past_7_days['BT'].sum() if not past_7_days.empty else None
    fm2_7d_avg = past_7_days['FM2'].mean() if not past_7_days.empty else None
    g5_7d_sum = past_7_days['G5'].sum() if not past_7_days.empty else None
    g10_7d_sum = past_7_days['G10'].sum() if not past_7_days.empty else None
    
    return pd.Series(
        [tm_7d_avg, tx_7d_avg, tn_7d_avg, um_7d_avg, ux_7d_avg, 
         rr_7d_sum, bt_7d_sum, fm2_7d_avg, g5_7d_sum, g10_7d_sum], 
        index=['TM_7d_avg', 'TX_7d_avg', 'TN_7d_avg', 'UM_7d_avg', 'UX_7d_avg', 
               'RR_7d_sum','BT_7d_sum', 'FM2_7d_avg', 'G5_7d_sum', 'G10_7d_sum'])

# Apply the function row-wise to compute the rolling statistics
df_pest[['TM_7d_avg', 'TX_7d_avg', 'TN_7d_avg', 'UM_7d_avg', 'UX_7d_avg', 'RR_7d_sum',
        'BT_7d_sum', 'FM2_7d_avg', 'G5_7d_sum', 'G10_7d_sum']] = df_pest.apply(lambda row: compute_7day_stats(row, df_weather), axis=1)

df_both = df_pest

t1 = time.time()
print(t1-t0, " sec taken")

df_both.shape
"""

'\nNote: Include other columns.\n\n# Weather Data Calculation by Direct Fetch:\n\nt0 = time.time()\n\n# Function to compute rolling stats for only the past 7 days\ndef compute_7day_stats(pest_row, weather_df):\n    # For each row in df_pest, find the last 7 days in df_weather\n    # For same latitud & longitud, compute average & sum\n    lat, lon, date = pest_row[\'latitud\'], pest_row[\'longitud\'], pest_row[\'graderingsdatum\']\n    \n    # Filter weather data for the past 7 days only (excluding future dates)\n    past_7_days = weather_df[\n        (weather_df[\'latitud\'] == lat) & \n        (weather_df[\'longitud\'] == lon) & \n        (weather_df[\'DAY\'] <= date) &  # Ensure we only take past days\n        (weather_df[\'DAY\'] > date - pd.Timedelta(days=4))  # Last 7 days window\n    ]\n    \n    # Compute the required stats\n    tm_7d_avg = past_7_days[\'TM\'].mean() if not past_7_days.empty else None\n    tx_7d_avg = past_7_days[\'TX\'].mean() if not past_7_days.empty else None\n    tn_7d_avg = past_7_days[\'TN\'].mean() if not past_7_days.empty else None\n    um_7d_avg = past_7_days[\'UM\'].mean() if not past_7_days.empty else None\n    ux_7d_avg = past_7_days[\'UX\'].mean() if not past_7_days.empty else None\n    rr_7d_sum = past_7_days[\'RR\'].sum() if not past_7_days.empty else None\n    bt_7d_sum = past_7_days[\'BT\'].sum() if not past_7_days.empty else None\n    fm2_7d_avg = past_7_days[\'FM2\'].mean() if not past_7_days.empty else None\n    g5_7d_sum = past_7_days[\'G5\'].sum() if not past_7_days.empty else None\n    g10_7d_sum = past_7_days[\'G10\'].sum() if not past_7_days.empty else None\n    \n    return pd.Series(\n        [tm_7d_avg, tx_7d_avg, tn_7d_avg, um_7d_avg, ux_7d_avg, \n         rr_7d_sum, bt_7d_sum, fm2_7d_avg, g5_7d_sum, g10_7d_sum], \n        index=[\'TM_7d_avg\', \'TX_7d_avg\', \'TN_7d_avg\', \'UM_7d_avg\', \'UX_7d_avg\', \n               \'RR_7d_sum\',\'BT_7d_sum\', \'FM2_7d_avg\', \'G5_7d_sum\', \'G10_7d_sum\'])\n\n# Apply the function row-wise to compute the rolling statistics\ndf_pest[[\'TM_7d_avg\', \'TX_7d_avg\', \'TN_7d_avg\', \'UM_7d_avg\', \'UX_7d_avg\', \'RR_7d_sum\',\n        \'BT_7d_sum\', \'FM2_7d_avg\', \'G5_7d_sum\', \'G10_7d_sum\']] = df_pest.apply(lambda row: compute_7day_stats(row, df_weather), axis=1)\n\ndf_both = df_pest\n\nt1 = time.time()\nprint(t1-t0, " sec taken")\n\ndf_both.shape\n'

In [18]:
df_both = df_both.sort_values(by=['latitud', 'longitud', 'graderingsdatum'], ascending=True)

In [19]:
df_both

,delomrade,lan,latitud,longitud,groda,sort,jordart,skordear,graderingsdatum,graderingstyp,...,CLDM_7d_avg,Q0_7d_avg,RR_7d_sum,BT_7d_sum,G0_7d_sum,G3_7d_sum,G5_7d_sum,G7_7d_sum,G8_7d_sum,G10_7d_sum
0,SV Skåne,Skåne län,6136000,388000,Höstvete,Mariboss,None,2016,2016-04-25,Veckovis,...,71.00,13.38,0.5,0.0,72.0,4.0,0.0,0.0,0.0,0.0
1,SV Skåne,Skåne län,6136000,388000,Höstvete,Mariboss,None,2016,2016-05-02,Veckovis,...,63.00,16.77,0.7,0.0,153.0,38.0,12.0,0.0,0.0,0.0
2,SV Skåne,Skåne län,6136000,388000,Höstvete,Mariboss,None,2016,2016-05-09,Veckovis,...,85.25,12.72,3.2,0.0,265.0,83.0,27.0,0.0,0.0,0.0
3,SV Skåne,Skåne län,6136000,388000,Höstvete,Mariboss,None,2016,2016-05-16,Veckovis,...,76.50,17.50,0.7,0.0,327.0,96.0,28.0,0.0,0.0,0.0
4,SV Skåne,Skåne län,6136000,388000,Höstvete,Mariboss,None,2016,2016-05-23,Veckovis,...,77.00,19.18,5.8,0.0,411.0,129.0,42.0,9.0,2.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2823,NÖ Skåne,Skåne län,6200000,438000,Höstvete,RGT Saki,None,2024,2024-04-12,Veckovis,...,88.25,9.53,9.9,200.0,32.0,0.0,0.0,0.0,0.0,0.0
2824,NÖ Skåne,Skåne län,6200000,438000,Höstvete,RGT Saki,None,2024,2024-04-19,Veckovis,...,48.75,17.95,1.5,200.0,60.0,4.0,0.0,0.0,0.0,0.0
2825,NÖ Skåne,Skåne län,6200000,438000,Höstvete,RGT Saki,None,2024,2024-04-26,Veckovis,...,65.00,15.58,4.6,300.0,63.0,4.0,0.0,0.0,0.0,0.0
2826,NÖ Skåne,Skåne län,6200000,438000,Höstvete,RGT Saki,None,2024,2024-05-03,Veckovis,...,70.50,16.23,5.5,100.0,99.0,17.0,2.0,0.0,0.0,0.0
2827,NÖ Skåne,Skåne län,6200000,438000,Höstvete,RGT Saki,None,2024,2024-05-10,Veckovis,...,49.25,21.05,2.1,100.0,131.0,24.0,4.0,0.0,0.0,0.0

In [20]:
df_both.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2828 entries, 0 to 2827
Data columns (total 35 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   delomrade           2828 non-null   object
 1   lan                 2828 non-null   object
 2   latitud             2828 non-null   object
 3   longitud            2828 non-null   object
 4   groda               2828 non-null   object
 5   sort                2828 non-null   object
 6   jordart             1030 non-null   object
 7   skordear            2828 non-null   int64
 8   graderingsdatum     2828 non-null   datetime64[ns]
 9   graderingstyp       2828 non-null   object
 10  utvecklingsstadium  2828 non-null   int64
 11  Bladfläcksvampar    2816 non-null   float64
 12  Gulrost             2828 non-null   float64
 13  Svartpricksjuka     2816 non-null   float64
 14  Sädesbladlus        2499 non-null   float64
 15  DAY                 2828 non-null   datetime64[ns]
 16  WGS84N              2828 non-null   float64
 17  WGS84E              2828 non-null   float64
 18  TM_7d_avg           2828 non-null   float64
 19  TX_7d_avg           2828 non-null   float64
 20  TN_7d_avg           2828 non-null   float64
 21  UM_7d_avg           2828 non-null   float64
 22  UX_7d_avg           2828 non-null   float64
 23  UN_7d_avg           2828 non-null   float64
 24  FM2_7d_avg          2828 non-null   float64
 25  CLDM_7d_avg         2828 non-null   float64
 26  Q0_7d_avg           2828 non-null   float64
 27  RR_7d_sum           2828 non-null   float64
 28  BT_7d_sum           2828 non-null   float64
 29  G0_7d_sum           2828 non-null   float64
 30  G3_7d_sum           2828 non-null   float64
 31  G5_7d_sum           2828 non-null   float64
 32  G7_7d_sum           2828 non-null   float64
 33  G8_7d_sum           2828 non-null   float64
 34  G10_7d_sum          2828 non-null   float64
dtypes: datetime64[ns](2), float64(23), int64(2), object(8)
memory usage: 773.4+ KB

In [21]:
# pickle - pandas dataframe
df_both.to_pickle(pkl_filename)

# Save to a CSV file
#df_both.to_csv("df_both.csv", index=False)

# Save the DataFrame to a CSV file with UTF-8 encoding
csv_file = csv_filename
df_both.to_csv(csv_file, index=False, encoding='utf-8-sig')  # Ensure proper encoding for special characters
print(f"Data saved to {csv_file}")

# For colab only - Download the CSV file (if running in a Jupyter Notebook or similar environment)
# Download the CSV file (if running in a Jupyter Notebook or similar environment)
#try:
#    from google.colab import files
#    files.download(csv_file)
#except ImportError:
#    print(f"Download the file manually: {csv_file}")

Data saved to df_3_both_t1.csv